---
import Container from "@components/shared/Container.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import PhotoSwipe from "@components/shared/PhotoSwipe.astro";
import Pricing from "@components/rooms/Pricing.astro";
import { Image } from "astro:assets";
import Return from "@components/shared/Return.astro";

export async function getStaticPaths() {
  const rooms = await getCollection("rooms");
  const paths = rooms.map((room) => {
    return {
      params: {
        slug: room.slug,
      },
      props: { room },
    };
  });
  return paths;
}
const { room } = Astro.props;
const { data, slug } = room;
const {
  title,
  image,
  type,
  description,
  prices,
  amenities,
  guests,
  beds,
  dormitories,
} = data;
---

<Layout title={title}>
  <Container>
    <Return />
    <h1
      class="md:text-left text-center mb-6 md:mb-0 text-4xl font-bold capitalize text-textPrimary"
    >
      {title}
    </h1>
    <div
      class="flex flex-row gap-2 items-center text-lg text-textPrimary px-4 pt-1"
    >
      <span class="">{guests} guests</span>
      <span class="">{beds} beds</span>
      <span class="">{dormitories} dormitories</span>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-col md:flex-row md:gap-6 items-center">
        <p class="text-center font-thin md:w-1/2 text-textPrimary prose-2xl">
          {description}
        </p>
        <Image
          class="w-full md:w-1/2 rounded-lg md:min-h-80 h-auto object-cover transform transition-all ease-in-out"
          alt="House image"
          src={image}
          quality={"mid"}
          loading={"eager"}
          transition:name={`image ${slug}`}
        />
      </div>
      <div class="text-textPrimary flex flex-col gap-2 py-8">
        <span class="text-2xl md:text-4xl font-semibold">
          Amenities & Facilities</span
        >
      </div>
      <div class="text-textPrimary flex flex-col gap-2 py-8 md:py-0">
        <span class="text-2xl md:text-4xl font-semibold">Where You'll Stay</span
        >
        <PhotoSwipe imageFolder="ejemplo" />
      </div>

      <Pricing
        peakPrice={prices.peak}
        regularPrice={prices.regular}
        specialPrice={prices.special}
      />
    </div>
  </Container>
</Layout>
