---
import Title from "@components/shared/Title.astro";
import { Image } from "astro:assets";
import glamping1 from "@assets/images/home/glamping1.avif";
import bungalow1 from "@assets/images/home/bungalow1.avif";
import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, buttonD, bungalows, glampings } = i18n.Home.rooms;
const cabins = [
  {
    name: bungalows.title,
    image: bungalow1,
    description: bungalows.description,
    link: "/rooms/",
  },
  {
    name: glampings.title,
    image: glamping1,
    description: glampings.description,
    link: "/rooms/",
  },
];
---

<section>
  <div class="mx-auto text-center flex flex-col">
    <Title title={title} />

    <div class="grid md:grid-cols-2 gap-8 grid-cols-1">
      {
        cabins.map((cabin) => (
          <div class="relative group rounded-lg overflow-hidden transition-all ">
            <div class="overflow-hidden rounded-lg shadow-lg">
              <Image
                src={cabin.image}
                alt={cabin.name}
                quality={"low"}
                loading="lazy"
                decoding="async"
                widths={[480, 768, 1024, 1440, 1920]}
                sizes="(max-width: 480px) 100vw, (max-width: 768px) 50vw, (max-width: 1024px) 33vw, (max-width: 1440px) 25vw, (max-width: 1920px) 20vw"
                class="w-full h-96 object-cover transform transition-all duration-300 group-hover:scale-110"
              />
              <div
                class="absolute inset-0 bg-slate-800 bg-opacity-60 opacity-0
               group-hover:opacity-100 transition-all duration-300 flex flex-col justify-center items-center text-white p-4"
              >
                <span class="text-2xl font-semibold mb-2 ">{cabin.name}</span>
                <p class="text-gray-200 mb-4 prose">{cabin.description}</p>
                <a
                  href={cabin.link}
                  class="inline-block bg-textPrimary/75 text-white px-4 py-2 rounded-lg hover:bg-textPrimary transition-colors"
                >
                  {buttonD}
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
